
.menu{
	width: 100%;
	padding: 0;
	position: fixed;
	display: flex;
	bottom: 0;
	margin: 0;
	background: #ee8f00;
}
.menu .items{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	display:inline-flex;
	justify-content: space-around;
}
.menu .items li{

	width: 100%;
	text-align: center;

}
.menu .items li:hover{
	background-color: #ffb005;
	

}
a{
	width: 25%;
	font-size: 30px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}