<!DOCTYPE html>
<html>
<head>
    <title>projects</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/projects.css">
    <script type="text/javascript" src="../../static/js/project.js"></script>
</head>
<body>
   
        
        <button class="right" onclick="forright()"></button>
        <button class="left" onclick="forleft()"></button>
        <section class="projects">
            <main id="project" class="project" data-value="0">
                <article>
                    <header>
                        <h5>
                            Projeto 01 
                        </h5>
                    </header>
                                
                    <div>
                        <iframe id="0" src="https://www.youtube.com/embed/9TdjlD_Od6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a href="https://github.com/hikarocarvalho/sales_system" target="_blank">link para projeto</a>
                    </div>
                </article>
                <article>
                    <header>
                        <h5>
                        Projeto 02
                        </h5>
                    </header>
                        <div>
                            <iframe id="1" src="https://www.youtube.com/embed/P_NrJzLgV8A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a target="_blank" href="https://github.com/hikarocarvalho/Python-Exercises/blob/main/projetos/Projeto_01_%E2%80%93_Detetive.ipynb">link para projeto</a>
                        </div>
                </article>
                <article>
                    <header>
                        <h5>
                           Projeto 03
                        </h5>
                    </header>
                    <div>
                        <iframe id="2" src="https://www.youtube.com/embed/kOi3qBlhwZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a target="_blank" href="https://github.com/hikarocarvalho/Python-Exercises/blob/main/projetos/Projeto_02_jogo_Jokenpo.py">link para projeto</a>
                    </div>
                </article>
                <article>
                    <header>
                        <h5>
                           Projeto 04
                        </h5>
                    </header>
                    <div >
                        <iframe id="3" src="https://www.youtube.com/embed/eajNWVK5eQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a target="_blank"  href="https://github.com/hikarocarvalho/Python-Exercises/blob/main/projetos/Projeto_03_Roleta_de_dados_final.py">link para projeto</a>
                    </div> 
                </article>
            
            </main>   
            <main id="about" class="about" data-value="0">
                <article>           
                   
                    <p class="title-desc"> Sistema Para Vendas </p>
                    <label>
                        Este sistema está em processo de conclusão ao qual 
                        está sendo feito o uso das tecnologias:
    
                    </label>
                    <br>
                    <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JAVASCRIPT</li>
                            <li>BOTSTRAP</li>
                            <li>PHP</li>
                    </ul>
                    <br>
                    <label>
                        
                        Obs: Haverá uma futura implimentação de aplicativo para android.
                    </label>
                </article>
                <article>
                    <p class="title-desc"> Projeto Detetive. </p>
                    <label>
                        Criei este projeto durante o primeiro módulo do curso na instituição BlueEdtech.<br>
                        O mesmo é um mini game de perguntas e respostas onde ao final o investigador diz se você é culpado ou não no assacinato<br>
                        Este projeto foi construido com o uso de:
                    </label>
                    <br>
                    <ul>
                            <li>Phython</li>
                           
                    </ul>
                    <br>
                    <label>
                        
                       
                    </label>
                </article>
                <article>
                    <p class="title-desc"> Projeto Jokenpo </p>
                    <label>
                        Este Projeto simula um adversário em um jogo de jokenpo ("pedra papel tesoura")<br>
                        Este também foi um dos projetos realizados durante o primeiro módulo do curso na BlueEdtech.<br>
                        Neste projeto fora utilizado:
    
                    </label>
                    <br>
                    <ul>
                            <li>Python</li>
                    </ul>
                    <br>
                    <label>
                        
                       
                    </label>
                </article>
                <article>
                    <p class="title-desc"> Roleta de dados</p>
                    <label>
                        Este foi outro projeto que fiz durante o primeiro módulo do curso da BlueEdtech!<br>
                        Este projeto Baseia se em um jogo de dados aleatórios, onde dois dados são jogados, por vez.<br>
                        Ao final o mesmo realiza a contagem e demonstra em uma tabela no terminal.
                        Para este projeto fora utilizado:
                    </label>
                    <br>
                    <ul>
                            <li>Python</li>
                    </ul>
                    <br>
                    <label>
                        
                        
                    </label>
                </article>
        
            </main>
        </section>
        </body>  
    
   
</body>
</html>