<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <script type="text/javascript" src="../static/js/include.js"></script>
    <title>Hikaro Carvalho</title>
</head>
<body >
    <iframe id="home" class="main" title="main" src="/main"></iframe>
    <iframe id="aboutme" class="about" title="aboutme" src="/aboutme"></iframe>
    <iframe id="projects" class="project" title="projects" src="/projects"></iframe>
    <iframe id="contact" class="foot" title="footer" src="/footer"></iframe>
    <nav class="menu">
        <ul class="items">
            <a href="#home"><li>Início</li></a>
            <a href="#aboutme"><li>Sobre Mim</li></a>
            <a href="#projects"><li>Meus Projetos</li></a>
            <a href="#contact"><li>Contatos</li></a>
        </ul>
    </nav>
   
</body>
</html>