<!DOCTYPE html>
<html>
<head>
    <title>projects</title>
    <link rel="stylesheet" media="screen and (min-width: 1025px)" type="text/css" href="../../static/css/fontstyle.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1025px)" href="../../static/css/pc/projects.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)  and (orientation: portrait)" href="../../static/css/portrait/projects.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 1024px) and (orientation: landscape)" href="../../static/css/landscape/projects.css">
    <script type="text/javascript" src="../../static/js/project.js"></script>
</head>
<body>
   
        
        <button class="right" onclick="forright()"></button>
        <button class="left" onclick="forleft()"></button>
        <section class="projects">
            <main id="project" class="project" data-value="0">
                <article>
                    <header>
                        <h5>
                            Projeto 01 
                        </h5>
                    </header>
                                
                    <div>
                        <iframe id="0" src="https://www.youtube.com/embed/9TdjlD_Od6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a href="https://github.com/hikarocarvalho/sales_system" target="_blank">link para projeto</a>
                    </div>
                </article>
                <article>
                    <header>
                        <h5>
                        Projeto 02
                        </h5>
                    </header>
                        <div>
                            
                            <iframe id="1" src="https://www.youtube.com/embed/CSEktaEeNFU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a target="_blank" href="https://github.com/hikarocarvalho/Blue_Module_02/tree/main/projects/project01">link para projeto</a>
                        </div>
                </article>
                <article>
                    <header>
                        <h5>
                           Projeto 03
                        </h5>
                    </header>
                    <div>
                        <img id="2" src="../../static/img/portfolio.png">
                        <a target="_blank" href="https://github.com/hikarocarvalho/Blue_Module_02/tree/main/projects/herokuproject">link para projeto</a>
                    </div>
                </article>
                <article>
                    <header>
                        <h5>
                           Projeto 04
                        </h5>
                    </header>
                    <div >
                        <img id="3" src="../../static/img/like.png"></img>
                        <a target="_blank"  href="https://github.com/hikarocarvalho/Blue_Module_02/tree/main/classes/class02">link para projeto</a>
                    </div> 
                </article>
            
            </main>   
            <main id="about" class="about" data-value="0">
                <article>           
                   
                    <p class="title-desc"> Sistema Para Vendas </p>
                    <label>
                        Este sistema está em processo de conclusão ao qual 
                        está sendo feito o uso das tecnologias:
    
                    </label>
                    <br>
                    <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JAVASCRIPT</li>
                            <li>BOTSTRAP</li>
                            <li>PHP</li>
                    </ul>
                    <br>
                    <label>
                        
                        Obs: Haverá uma futura implimentação de aplicativo para android.
                    </label>
                </article>
                <article>
                    <p class="title-desc"> Coisas que Gosto</p>
                    <label>
                        Este projeto teve como finalidade criar uma pagina com coisas que gosto.
                        Fora utilizado as tecnologias:
                    </label>
                    <br>
                    <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                    </ul>
                    <br>
                    <label>
                        
                        
                    </label>
                </article>
                <article>
                    <p class="title-desc"> Projeto Portifólio </p>
                    <label>
                        Este projeto nada mais é do que este proprio Portifólio<br>
                        Neste projeto fora utilizado:
    
                    </label>
                    <br>
                    <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JAVASCRIPT</li>
                            <li>Python - para backend.</li>
                            <li>Flask - para integração e envio de mensagem via email.</li>
                    </ul>
                    <br>
                    <label>
                        
                       
                    </label>
                </article>
                <article>
                    <p class="title-desc"> Projeto Humor. </p>
                    <label>
                        Este Projeto foi Criado No segundo módulo do curso da BlueEdtech, onde basicamente cria botões interativos para alterar o humor de algum personagem.<br>
                        No caso em meu projeto utilizei o personagem Luffy do anime One Piece.<br>
                        Este projeto foi construido com o uso de:
                    </label>
                    <br>
                    <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>jAVASCRIPT</li>
                           
                    </ul>
                    <br>
                    <label>
                        
                       
                    </label>
                   
                </article>
        
            </main>
        </section>
        </body>  
    
   
</body>
</html>