<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/criadores.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Desenvolvedores - Irmãos de Estimação</title>

</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo"><a href="#">Irmãos de<span> estimação</span></a></div>
            <ul class="menu">
                <li><a href="/" class="home">Página Inicial</a></li>
            </ul>
        </div>
        </div>
    </nav>

    <section id="sobre">
        <div class="sobre1">
            <p id="titulo0">Olá, eu sou o Carlos Nicacio</p>
            <p id="titulo1">Engenheiro civil de formação, estudante de desenvolvimento de softwares nas horas vagas e um grande sonhador em tornar a tecnologia cada vez mais acessível no meu meio de trabalho.</p>
            <div class="links">
                <a href="https://www.linkedin.com/in/cnicacio/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/cnicacio" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
        <img class="foto" src="{{ url_for('static', filename='img/carlos.jpeg') }}" alt="Carlos Nicacio">
    </section>

    <section id="erbos">
        <div class="sobre1">
            <p id="titulo0">Olá, eu sou o Guilherme Mattoso</p>
            <p id="titulo1">Meu nome está aparecendo aqui em cima, mas pode me chamar de Guilherme ou Gui, se preferir, e tenho 18 anos.
                Atualmente estudo na Blue Edtech,porque quero ser um desenvolvedor Full Stack e ainda planejo fazer um MBA focado nessa área da tecnologia.</p>
            <div class="links">
                <a href="https://www.linkedin.com/in/guilherme-mattoso-4b654420b/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/mattosoguilherme" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
        <img class="foto" src="{{ url_for('static', filename='img/Guilherme.jpeg') }}" alt="Carlos Nicacio">
    </section>

    <section id="sobre">
        <div class="sobre1">
            <p id="titulo0">Olá, eu sou o Hikaro Carvalho</p>
            <p id="titulo1">Sou um programador, há muito tempo sonho em entrar na área. Finalmente estou disponivel para trabalho. Apesar de Ter iniciado meu curso efetivo há um mês. Sou alguém que sempre teve paixão pela programação. Meus conhecimentos não se resumem ao que me fora passado neste ultimo curso, pois tenho proatividade.</p>
            <div class="links">
                <a href="https://www.linkedin.com/in/hikaro-fernandes-de-carvalho/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/hikarocarvalho" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
        <img class="foto" src="{{ url_for('static', filename='img/Hikaro.jpeg') }}" alt="Carlos Nicacio sorrindo em uma janela"> 
    </section>

    <section id="erbos">
        <div class="sobre1">
            <p id="titulo0">Olá, eu sou a Jaqueline Vinhas Pauxis</p>
            <p id="titulo1">Bacharela em direito,correspondente juridico, militante pela causa de Semoventes
                Discente de ADS</p>
            <div class="links">
                <a href="https://www.linkedin.com/in/jaquelinepauxis/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/JaquelinePauxis" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
        <img class="foto" src="{{ url_for('static', filename='img/Jaqueline.jpeg') }}" alt="Carlos Nicacio">
    </section>
    
</body>